
<div class="container">
  <div>
    <a routerLink="/add">
      <button mat-flat-button class="ajouterBtn" color="accent">Ajout</button>
    </a>
  </div>

  <mat-divider></mat-divider>
  <mat-list>
    @for(a of assignments; track a.nom) {
    <mat-list-item>
      <nav>
        <a routerLink="/assignment/{{ a.id }}">
          <div [ngStyle]="{ color: a.rendu ? 'green' : 'red' }">
            <h3 matLine>{{ a.nom }}</h3>
            <p matLine>rendu: {{ a.rendu }}</p>
            <h3 matListItemTitle>{{ a.dateDeRendu | date }}</h3>
            <p matListItemLine>{{ a.nom }} rendu: {{ a.rendu }}</p>
          </div>
        </a>
      </nav>
    </mat-list-item>
    <mat-divider></mat-divider>
    }
  </mat-list>
</div>
